# Package manager
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependencies
node_modules/

# Test coverage data
coverage/

# Build output
lib/
tsconfig.tsbuildinfo
